
body {
    margin: 0;
    padding: 0;
    background-color: #5F3CA1;
}

.login-container {
    width: 400px;
    height: 500px;
    margin: 100px auto;
    background-color: #ffae00;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center;
}

.login-container h2 {
    text-align: center;
    color: aliceblue;
    margin-bottom: 20px;
    font-family:'Lato', sans-serif;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-family:'Lato', sans-serif;
    color: aliceblue;
}

.input-group input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 50%;
    padding: 10px;
    background-color: whitesmoke;
    color: #9715b8;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5F3CA1;
}

.conectado {
    color: aliceblue;
    margin-bottom: 20px;
    font-family:'Lato', sans-serif;
}